li {
  display: inline;
  text-align: center;
  color: #5B5857;
  padding: 0 15px 15px 0px;
}

ul {
  text-align: center;
  font-family:'Heebo', sans-serif;
}

h1 {
  font-size: 70px;
  font-family: 'Heebo', sans-serif;
  color: white;
}

.headshot {
  height: 30%;
  width: 30%;
  border-radius: 50%;
}

.icon {
  margin-top: 5px;
  height: 25px;
  width: 25px;
}

body {
 font-family: 'Slabo 27px', sans-serif;
}

/*html {
  background: url("https://cdn.pixabay.com/photo/2013/11/09/20/22/clouds-208000_1280.jpg");
  background-repeat: no-repeat;
}*/

html {
  background: url("https://cdn.pixabay.com/photo/2013/11/09/20/22/clouds-208000_1280.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  position: relative;
  border-radius: 12px;
}

header {
  text-align: center;
  color:#343232  ;
}

p {
  font-size: 20px;
  margin-left: 30px;
}

.featurette-heading{
  margin-left: 30px;
}

/*article {
  margin: 40px 0 0 0;
  background: white;
  border-width: 1px;
  border-radius: 12px;
  position: center;
  padding: 20px;
  opacity: 0.9;
}*/

.divider {
    display: block;
    margin: 30px 0;
    width: 100px;
    height: 2px;
    background-color: #00b7c7;
}

.row1 {
  background-color: mintcream;
}
