li {
  display: inline;
  text-align: center;
  color: #5B5857;
  padding: 0 15px 15px 0px;
}

ul {
  text-align: center;
  font-family:'Roboto Slab', serif;
}

.links {
  padding-left: 0;
}

h1 {
  font-size: 70px;
  font-family: 'Roboto Slab', serif;
  color: white;
}

h2 {
  color: #00b7c7;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
}

.headshot {
  height: 25%;
  width: 25%;
  border-radius: 50%;
}

.headshot-medium {
  margin-top: 3%;
  height: 35%;
  width: 35%;
  border-radius: 50%;
}

.icon {
  margin-top: 5px;
  height: 50px;
  width: 50px;
}

.medium-icon {
  margin-top: 5px;
  height: 100px;
  width: 100px;
}

body {
 font-family: 'Roboto Slab', serif;
}

/*html {
  background: url("https://cdn.pixabay.com/photo/2013/11/09/20/22/clouds-208000_1280.jpg");
  background-repeat: no-repeat;
}*/

html {
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('./public/ocean.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  position: relative;
  border-radius: 12px;
}

header {
  text-align: center;
  color:#343232  ;
}

p {
  font-size: 20px;
  margin-left: 50px;
  margin-left: 50px;
}

.featurette-heading {
  margin-left: 50px;
}

.project-image {
  width: 75%;
  height: 75%
}

/*article {
  margin: 40px 0 0 0;
  background: white;
  border-width: 1px;
  border-radius: 12px;
  position: center;
  padding: 20px;
  opacity: 0.9;
}*/

.divider {
    display: block;
    margin: 70px 0 70px 0;
    width: 100px;
    height: 2px;
    background-color: #00b7c7;
}

.text {
  color: white;
}

.menu {
  color: white;
}

.right {
  align-content: right;
  text-align: right;
  margin-right: 20px;
}

.menu:hover {
  color: #00b7c7;
}
